body {
    background: linear-gradient(35deg, rgb(96, 1, 144), rgb(14, 0, 91));
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.list, .lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    background-color: bisque;
    color: rgb(96, 1, 144);
    padding: .5rem 2rem;
}
.lista {
    border: 1px solid rgb(176, 6, 238);
}

li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding: 0 1rem;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

a {
    cursor: pointer;
    color: red;
    font-size: 2rem;
}

input[type="checkbox"] {
    accent-color: #6200ff;
    background-color: #a200ff;
    height: 1.5rem;
    width: 1.5rem;
}

strong {
    padding: 1rem 0;
}

input[type="text"] {
    height: 2rem;
    background-color: bisque;
    width: 76%;
}

button {
    background-color: #01a20b;
    color: white;
    font-style: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: .8rem 1rem;
}